<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="Header">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, user-scalable=yes">

            <title><th:block th:text="#{label.header.title}"/></title>
            <link rel="stylesheet" th:href="@{/css/layout_a.css}">
            <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>

            <style>
            .bt {
                position: static;
                }
            </style>


        </head>
        <body>
            <div class="wrapper">
                <div class="hdr">
                    <div class="hdr-wrapper">
                        <div class="logo">
                            <img th:src="@{/img/logo_ipsg.png}" alt="IPSG" class="logo-image"/>
                        </div>
                        <div class="title">
                            <h1>
                            	<p>株式会社 IPSG Holdings</p>
                                <br>
                            </h1>
                        </div>

                        <div th:if="${session.SesUserInfo != null}">

                            <ul class="hdr-button">
                            <li class="hdr-button-item">
                                <p><div th:text="${session.SesTime}"/></p>
                                <p><div th:text="${session.SesUserInfo.name}"/></p>
                            </li>
                            <li class="hdr-button-item"><button class="bt bt-gray btn_logout"><th:block th:text="#{btn.header.logout}" /></button></li>
                        </ul>
                        </div>
                        <div th:unless="${session.SesUserInfo!=null}">
                            <ul class="hdr-button">
                                <li class="hdr-button-item"></li>
                                <li class="hdr-button-item"></li>
                            </ul>
                        </div>

                    </div>
                </div><!--/.hdr-->
            </div>

        </body>
        <form id="logoutAction" th:action="@{/BO/logout}" method="post">
        </form>
        <script type="text/javascript">
                 /* 「注文状況一覧」ボタン */
              $('.btn_logout').click(function() {
                 $('#logoutAction').submit();
              });

            </script>
    </header>


</html>