<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="Header">

        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, user-scalable=yes">

            <title><th:block th:text="#{label.header.title}"/></title>
            <link rel="stylesheet" th:href="@{/css/layout_a.css}">
            <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>

            <style>
            .bt {
                position: static;
                }
            </style>


        </head>
        <body>
            <div class="wrapper">
                <div class="hdr">
                    <div class="hdr-wrapper">
                        <div class="logo">
                            <div onClick="location.href='/boardList'"><img th:src="@{/img/logo_ipsg.png}" alt="IPSG" class="logo-image"/></div>
                        </div>
                        <div class="title">
                            <h1>
                            	<div onClick="location.href='/boardList'">株式会社 IPSG Holdings</div>
                                <br>
                            </h1>
                        </div>
                        <div>
                        <th:block th:if="${session.SesUserInfo == null}">
						    <ul class="hdr-button">
						    <li class="hdr-button-item">
						    </li>
                            <li class="hdr-button-item"><button class="bt bt-gray btn_login"><th:block th:text="#{btn.header.login}" /></button></li>
                        	</ul>
                        </th:block>
                        <th:block th:if="${session.SesUserInfo != null}">
                            <ul class="hdr-button">
                            <li class="hdr-button-item">
                                <p><div th:text="${session.SesTime}"/></p>
                                <p><div th:text="${session.SesUserInfo.name}"/></p>
                            </li>
                            <li class="hdr-button-item"><button class="bt bt-gray btn_logout"><th:block th:text="#{btn.header.logout}" /></button></li>
                        </ul>
                        </th:block>
						</div>
                        </div>
                        <div th:unless="${session.SesUserInfo!=null}">
                            <ul class="hdr-button">
                                <li class="hdr-button-item"></li>
                                <li class="hdr-button-item"></li>
                            </ul>
                        </div>

                    </div>
                </div><!--/.hdr-->
            </div>

        </body>
        <form id="loginAction" th:action="@{/login}" method="post"></form>
        <form id="logoutAction" th:action="@{/login/logout}" method="post"></form>
        <script type="text/javascript">
              /* 「ログイン」ボタン */
              $('.btn_login').click(function() {
                 $('#loginAction').submit();
              });

              /* 「ログアウト」ボタン */
              $('.btn_logout').click(function() {
                 $('#logoutAction').submit();
              });

            </script>
    </header>

</html>