<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:data-provide="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header th:replace="layout/Header :: Header"></header>
<div class="wrapper">
    <div class="main">

        <h2 class="page-title"><strong><div th:text="#{label.join.title}"/></strong></h2>
        <section class="main-section error-message" th:if="!${messageList == null or #lists.isEmpty(messageList)}">
            <i class="ico-error"></i>
            <th:block  th:each="message : ${messageList}">
                <p><span th:text="${message}"/></p>
            </th:block>
        </section>
        <section class="login-section">
            <form id="joinForm" th:action="@{/join/register}" method="post" th:object="${joinForm}">
                <ul class="login-form">
                    <li class="login-form-item">*
                        <div class="login-form-item-name"><div th:text="#{label.join.userId}"/></div>
                        <div class="login-form-item-data">
                            <input type="text" name="userId" id="join-userId" maxlength="18" th:field="*{userId}"
                                   oninput="this.value = this.value.replace(/[^A-Za-z0-9]/g, '').replace(/(\..*)\./g, '$1');"
                                   placeholder="英数字4～18文字" >
                            <span id="message"></span>
                        </div>
                    </li>
                    <li class="login-form-item">*
                        <div class="login-form-item-name"><div th:text="#{label.join.password}"/></div>
                        <div class="login-form-item-data"><input type="password" name="password" id="join-password"></div>
                    </li>
                    <li class="login-form-item">*
                        <div class="login-form-item-name"><div th:text="#{label.join.name}"/></div>
                        <div class="login-form-item-data"><input type="text" name="name" id="join-name" th:field="*{name}"></div>
                    </li>
                    <li class="login-form-item">*
                        <div class="login-form-item-name"><div th:text="#{label.join.birthday}"/></div>
                        <div class="login-form-item-data">
                            <input type="text" name="birthday" id="join-birthday" placeholder=" ex) 19800101"
                                   maxlength="8" pattern="\d*" th:field="*{birthday}">
                            <div class="failure-message-BDay hide">生年月日を確認してください</div>
                            <div class="success-message-BDay hide" id="BdayOK">OK</div>
                        </div>
                    </li>
                    <li class="login-form-item">*
                        <div class="login-form-item-name"><div th:text="#{label.join.gender}"/></div>
                        <div class="login-form-item-data" id="join-gender">
                            <label><input type="radio" name="gender" id="maleRadio" value="1" th:field="*{Gender}">男</label>
                            <label><input type="radio" name="gender" id="femaleRadio" value="2" th:field="*{Gender}">女</label>
                            <label><input type="radio" name="gender" id="noneRadio" value="0" th:field="*{Gender}">非公開</label>
                        </div>
                    </li>
                    <li class="login-form-item">*
                        <div class="login-form-item-name"><div th:text="#{label.join.mail}"/></div>
                        <div class="login-form-item-data">
                            <input type="email" name="mail" id="join-mail" placeholder="abc@mail.com" th:field="*{Mail}" >
                            <div class="failure-message-mail hide">メール形式で入力してください</div>
                            <div class="success-message-mail hide" id="mailOK">OK</div>
                        </div>
                    </li>
                    <li class="login-form-item">
                        <div class="login-form-item-name"><div th:text="#{label.join.joinReason}"/></div>
                        <div class="login-form-item-data">
                            <select class="joinReason select" name="joinReason" id="join-joinReason" >
                                <option value="0">なし</option>
                                <option value="1">111</option>
                                <option value="2">222</option>
                            </select>
                        </div>
                    </li>
                    <br>
                    <p class="form-text text-end">＊がついている項目は必須項目です。</p>
                    <br>
                    <li class="login-form-item">
                    
                        <div><input type="button" class="bt bt-green btn_join" value="登録へ" id="btn_join_ck" disabled ></div>
                    </li>
                    <li class="login-form-item">
                        <div><input type="button" class="bt bt-green btn_back" value="戻る" id="btn_login_bk"
                                    onClick="location.href='login'" ></div>
                    </li>
                </ul>
            </form>

        </section><!--/.join-section-->
    </div><!--/.main-->



</div><!--/.wrapper-->

<footer th:replace="layout/Footer :: Footer"></footer>

</body>
<!-- SCRIPTS -->
<script th:inline="javascript">





/* 登録内容確認時の変更*/
$(function() {
  /* 登録内容確定前 */
  $(document).on("click", "#btn_join_ck", function(){
      /* ボタンの属性を更新 */
      $('#btn_login_bk').attr('onClick','').unbind('click');
      $('#btn_login_bk').attr('value','項目修正');
      $('#btn_login_bk').attr('id','btn_join_bk');
      $('#btn_join_ck').val('登録確定');
      $('#btn_join_ck').attr('id', 'btn_join_join');

      /* 確認のため、全項目を非活性化 */
      $('#join-userId').attr("disabled", true);
      $('#join-password').attr("disabled", true);
      $('#join-name').attr("disabled", true);
      $('#join-birthday').attr("disabled", true);
      $('#join-mail').attr("disabled", true);
      $('#join-joinReason').attr("disabled", true);
      $('input[type="radio"]').prop('disabled', true);


  });


  /* 入力状態に戻り */
    $(document).on("click", "#btn_join_bk", function(){

      /* ボタンの属性を更新 */
      $('#btn_join_bk').attr('onClick', 'location.href="boardList"');
      $('#btn_join_bk').attr('value','戻る');
      $('#btn_join_bk').attr('id', 'btn_login_bk');
      $('#btn_join_join').val('登録へ');
      $('#btn_join_join').attr('type', 'button');
      $('#btn_join_join').attr('id', 'btn_join_ck');

      /* 「戻り」のため、全項目を活性化 */
      $('#join-userId').attr("disabled", false);
      $('#join-password').attr("disabled", false);
      $('#join-name').attr("disabled", false);
      $('#join-birthday').attr("disabled", false);
      $('#join-mail').attr("disabled", false);
      $('#join-joinReason').attr("disabled", false);
      $('input[type="radio"]').prop('disabled', false);
  });



    /* joinボタン押下時、disabledを解除しsubmit */
    $(document).on("click", "#btn_join_join", function(){
      /* inputのdisabled 解除 */
      $('#join-userId').attr("disabled", false);
      $('#join-password').attr("disabled", false);
      $('#join-name').attr("disabled", false);
      $('#join-birthday').attr("disabled", false);
      $('#join-gender').attr("disabled", false);
      $('#join-mail').attr("disabled", false);
      $('#join-joinReason').attr("disabled", false);
      $('input[type="radio"]').prop('disabled', false);

      $('#joinForm').submit();
  });
});


  /* 各入力欄のidの変数定義 */
  let elInputJoinUserId = document.querySelector('#join-userId')
  let elInputPassword  = document.querySelector('#join-password')
  let elInputName= document.querySelector('#join-name')
  let elInputBirthday= document.querySelector('#join-birthday')
  let elInputMail = document.querySelector('#join-mail')
  let eljoinReason = document.querySelector('#join-joinReason')
  let elJoinCKbutton = document.querySelector('#btn_join_ck')


  /* 各メッセージの変数定義 */
  let elFailuremessage = document.querySelector('.failure-message')
  let elDuplicatemessage = document.querySelector('.duplicate-message')
  let elSuccessmessage = document.querySelector('.success-message')
  let elFailuremessageMail = document.querySelector('.failure-message-mail')
  let elSuccessmessageMail = document.querySelector('.success-message-mail')
  let elFailuremessageBDay = document.querySelector('.failure-message-BDay')
  let elSuccessmessageBDay = document.querySelector('.success-message-BDay')



  /* ID入力欄に成功メッセージ、失敗メッセージ */
  elInputJoinUserId.onkeyup = function () {
    if (isMoreThan4Length(elInputJoinUserId.value)) {
      elSuccessmessage.classList.remove('hide')
      elFailuremessage.classList.add('hide')
    }
    else {
      elSuccessmessage.classList.add('hide')
      elFailuremessage.classList.remove('hide')
  　}
  }

  /* IDが4~18文字のチェック */
  function isMoreThan4Length(value) {
  return value.length >= 4
  }

  /* すべての入力欄を記入した場合、会員登録ボタンが活性されるように */
  elInputJoinUserId.addEventListener('keyup', button)
  elInputPassword.addEventListener('keyup', button)
  elInputName.addEventListener('keyup', button)
  elInputBirthday.addEventListener('keyup', button)
  elInputMail.addEventListener('keyup', button)


  function button() {
    switch (!(elInputJoinUserId.value && elInputPassword.value &&
              elInputName.value && elInputBirthday.value && elInputMail.value )) {
      case true : elJoinCKbutton.disabled = true; break;
      case false : elJoinCKbutton.disabled = false; break
    }
  }



  /* メールの有効性検証 */
  let elMailRegExp =  /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/

  /* Email入力欄に成功メッセージ、失敗メッセージ */
  elInputMail.onkeyup = function () {
    if (isMailRegExp(elInputMail.value)) {
      elSuccessmessageMail.classList.remove('hide')
      elFailuremessageMail.classList.add('hide')
    }
    else {
      elSuccessmessageMail.classList.add('hide')
      elFailuremessageMail.classList.remove('hide')
  　}
  }

  /* Mail形式のチェック */
  function isMailRegExp(value) {
    return elMailRegExp.test(value)
  }

/* 形式チェック */
  function isRegExp(value) {
    alert("正しい形式を入力してください");
    value.value='';
    return true
  }

  /* 生年月日8文字チェック */
  function validateBirthdate(birthdate) {
    //入力値の空路削除
    const trimmedBirthdate = String(birthdate).trim().replace(/\D/g, '');

    // 8文字の数字チェック
    if (trimmedBirthdate.length !== 8 || !/^\d+$/.test(trimmedBirthdate)) {
      return false;
    }

    // 生年月日区切り
    const year = parseInt(trimmedBirthdate.substr(0, 4), 10);
    const month = parseInt(trimmedBirthdate.substr(4, 2), 10);
    const day = parseInt(trimmedBirthdate.substr(6, 2), 10);

    // 生年月日チェック
    const date = new Date(year, month - 1, day);
    if (
      date.getFullYear() !== year ||
      date.getMonth() !== month - 1 ||
      date.getDate() !== day
    ) {
      return false;
    }
    return true;
  }

/* 生年月日入力欄に成功メッセージ、失敗メッセージ */
  elInputBirthday.onkeyup = function () {
    if (validateBirthdate(elInputBirthday.value)) {
      elSuccessmessageBDay.classList.remove('hide')
      elFailuremessageBDay.classList.add('hide')
    }
    else {
      elSuccessmessageBDay.classList.add('hide')
      elFailuremessageBDay.classList.remove('hide')
  　}
  }


/* ID重複チェック */
$(document).ready(function() {
  $('#join-userId').on('input', function() {
    var userId = $('#join-userId').val();

    $.ajax({
      url: 'join/idCheck',
      method: 'POST',
      data: { userId: userId },
      success: function(cnt) {
        if (cnt==0) {
          $('#message').text('ID OK').css('color', 'green');
        } else {
          $('#message').text('ID NG').css('color', 'red');
          alert("既に使用中のIDです");
          $('#join-userId').val('');
        }
      },
      error:function(xhr, status, error) {
           console.log(xhr); // エラーメッセージ出力
           console.log(status); // STATUSコード出力
           console.log(error);
           alert("ERROR");
       }
    });
  });
});



</script>
</html>