<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:data-provide="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">

</head>
<body>

<header th:replace="layout/Header :: Header"></header>
<div class="wrapper">
  <div class="main">

    <h2 class="page-title"><strong><div th:text="#{label.login.title}"/></strong></h2>
    <section class="main-section error-message" th:if="!${messageList == null or #lists.isEmpty(messageList)}">
      <i class="ico-error"></i>
      <th:block  th:each="message : ${messageList}">
        <p><span th:text="${message}"/></p>
      </th:block>
    </section>
    <section class="login-section">
      <form id="loginForm" th:action="@{/login/process}" method="post" th:object="${loginForm}">
      <ul class="login-form">
        <li class="login-form-item">
          <div class="login-form-item-name"><div th:text="#{label.login.account}"/></div>
          <div class="login-form-item-data"><input type="text" name="account"></div>
        </li>
        <li class="login-form-item">
          <div class="login-form-item-name"><div th:text="#{label.login.password}"/></div>
          <div class="login-form-item-data"><input type="password" name="password"></div>
        </li>
        <li class="login-form-item">
          <div><button class="bt bt-green btn_login"><div th:text="#{btn.login.login}"/></button></div>
        </li>
        <li class="login-form-item">
          <div><input type="button" class="bt bt-green btn_join" onClick="location.href='join'" value="JOIN" ></div>
        </li>
      </ul>
      </form>
    </section><!--/.login-section-->
  </div><!--/.main-->



</div><!--/.wrapper-->

  <footer th:replace="layout/Footer :: Footer"></footer>

</body>
<!-- SCRIPTS -->
<script th:inline="javascript">
  /* 「ログイン」ボタン */
  $('.btn_login').click(function() {

      $('#loginForm').submit();
  });
</script>
</html>
