<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:data-provide="http://www.w3.org/1999/xhtml">

<header th:replace="layout/Header :: Header"></header>

<body>
<div class="wrapper">
  <div class="main">
    <h2 class="page-title"><strong><th:block th:text="#{label.boardTitleDetailHeader}"></th:block></strong></h2>
    <section class="main-section error-message" style="display:none">
    </section>

    <section class="main-section">
    <table class="form-table" style="width:100%;">
        <colgroup>
            <col style="width:10%;">
            <col style="width:40%;">
            <col style="width:10%;">
            <col style="width:40%;">
        </colgroup>
        <tbody>
        <tr class="form-table-row" style="background-color:#009a59; color:#fff">
            <th class="form-table-th"><th:block th:text="#{label.boardList.registerDate}"></th:block></th>
            <td class="form-table-td"><th:block th:text="${boardDetail.registerDate}"/></td>
            <th class="form-table-th"><th:block th:text="#{label.boardRegister}"/></th>
            <td class="form-table-td"><th:block th:text="${boardDetail.registerUserId}"/></td>
        </tr>
        </tbody>
    </table>
    <table class="form-table" style="width:100%;">
        <tbody>
        	<tr class="form-table-row">
		  		<td class="form-table-th board-title"><th:block th:text="${boardDetail.boardTitle}"/></td>
        	</tr>
        </tbody>
      </table>
    </section><!--/.main-section-->
      <table class="form-table" style="width:100%;">
        <colgroup>
          <col style="width:12%;">
          <col style="width:20%;">
          <col style="width:14%;">
          <col style="width:20%;">
          <col style="width:16%;">
          <col style="width:8%;">
          <col style="width:10%;">
        </colgroup>
      </table>
      <section class="main-section gray-top-border">
      <table class="form-table" style="width:100%;">
        <tbody>
        <tr class="form-table-row">
          <td class="form-table-td board-content"><span th:text="${boardDetail.boardContent}"/></span></td>
        </tr>
        </tbody>
      </table>
      </section><!--/.main-section-->
      <section class="main-section gray-top-border">
      <table class="form-table" style="width:100%;">
        <thead>
            <tr class="form-table-row">
                <th class="form-table-th"><th:block th:text="#{label.boardDetail.comment}"/></th>
            </tr>
        </thead>
      </table>
      <table class="border-table comment_list">
        <tbody>
        	<th:block th:if="${boardCommentList.size() > 0}">
        	<tr>
          		<th width="10%" class="border-table-th"><th:block th:text="#{label.commentRegister}"/></th>
            	<td width="80%" class="border-table-th"><th:block th:text="#{label.commentContent}"/></td>
            	<th width="10%" class="border-table-th"><th:block th:text="#{label.boardList.registerDate}"/></th>
          	</tr>
          	<tr th:each="comment,index: ${boardCommentList}">
		    	<td th:text="${comment.commentRegisterUserId}" class="border-table-td"></td>
		        <td class="border-table-td board-comment"><th:block th:text="${comment.commentContent}"></td>
		        <td th:text="${comment.commentRegisterDate}" class="border-table-td"></td>
        	</tr>
        	</th:block>
        </tbody>
      </table>
      </section><!--/.main-section-->
        <th:block th:if="${session.SesUserInfo != null}">
        <table class="form-table" style="width:100%;">
       		<tr class="form-table-row">
        		<td class="form-table-td">
          			<textarea rows="3" id="commentTextArea"></textarea>
          			<button class="bt bt-green btn_comment" style="width:5%;" onClick="writeComment()"><th:block th:text="#{btn.regist}"/></button>
          		</td>
        	</tr>
        </table>
        </th:block>
    <section class="main-section gray-top-border buttons buttons-4">
    <th:block th:if="${session.SesUserInfo != null}">
    	<th:block th:if="${'1' == displayEditButtonFlg}">
      		<p class="section-block center"><button class="bt bt-green btn_modal" th:value="deleteModal"><th:block th:text="#{btn.boardDetail.delete}"/></button></p>
      		<p class="section-block center"><button class="bt bt-green btn_update" th:value="updateModal"><th:block th:text="#{btn.boardDetail.edit}"/></button></p>
      		<p class="section-block center"><button class="bt bt-gray btn_back"><th:block th:text="#{btn.back}"/></button></p>
      	</th:block>
      	<th:block th:if="${'1' != displayEditButtonFlg}">
      		<p class="section-block center"><button class="bt bt-gray btn_back"><th:block th:text="#{btn.back}"/></button></p>
      	</th:block>
    </th:block>
    <th:block th:if="${session.SesUserInfo == null}">
      <p class="section-block center"><button class="bt bt-gray btn_back"><th:block th:text="#{btn.back}"/></button></p>
     </th:block>
    </section><!--/.main-section-->

  </div><!--/.main-->

<form id="backForm" name="backForm" th:action="@{/boardDetail/returnBoardList}" method="post">
<input type="hidden" name="restorationJudgment" id="restorationJudgment">
</form>

  <div class="overlay" id="updateModal" style="display:none">
    <div class="modal">
      <section class="modal-section modal-text">
        <p><th:block th:text="#{btn.boardDetail.update}"/><th:block th:text="#{label.modal.contents}"/></p>
      </section>
      <section class="modal-section buttons">
        <p class="section-block center"><button class="bt bt-green btn_update"><th:block th:text="#{btn.execution}"/></button></p>
        <p class="section-block center"><button class="bt bt-gray btn_modalExit" th:value="updateModal"><th:block th:text="#{btn.back}"/></button></p>
      </section>
    </div>
  </div>
  <footer th:replace="layout/Footer :: Footer"></footer>
</div>

 <div class="overlay" id="deleteModal" style="display:none">
    <div class="modal">

      <section class="modal-section modal-text">
        <p><th:block th:text="#{btn.boardDetail.delete}"/><th:block th:text="#{label.modal.contents}"/></p>
      </section>
      <section class="modal-section buttons">
        <p class="section-block center"><button class="bt bt-green btn_delete"><th:block th:text="#{btn.execution}"/></button></p>
        <p class="section-block center"><button class="bt bt-gray btn_modalExit" th:value="deleteModal"><th:block th:text="#{btn.back}"/></button></p>
      </section>
    </div>
  </div>
  <footer th:replace="layout/Footer :: Footer"></footer>
</div>

<form id="updateForm" th:action="@{/boardDetail/update}" method="post" th:object="${updateDto}">
  <input type="hidden" name="boardId" th:value="${boardDetail.boardId}"/>
</form>

<form id="deleteForm" th:action="@{/boardDetail/delete}" method="post" th:object="${deleteDto}">
  <input type="hidden" name="boardId" th:value="${boardDetail.boardId}"/>
  <input type="hidden" name="RegisterUserId" th:value="${boardDetail.registerUserId}"/>
</form>


</body>
<script th:inline="javascript">
/*<![CDATA[*/

      /* 「戻る」ボタン */
  $('.btn_back').click(function() {
      $("[name='restorationJudgment']").val("restoration");
      $("#backForm").submit();
  });

      /* 「更新」ボタン */
  $('.btn_update').click(function() {
      $("#updateForm").submit();
  });

      /* 「削除」ボタン */
  $('.btn_delete').click(function() {
      $("#deleteForm").submit();
  });

      /* 「モーダル」処理 */
  $('.btn_modal').click(function() {
      var modal = $(this).val();
      $("#" + modal ).show();

  });

      /* 「モーダル」終了処理 */
  $('.btn_modalExit').click(function() {
      var modal = $(this).val();
      $('#'+ modal ).hide();
     });

function getAllComment() {
    const boardId = /*[[${boardDetail.boardId}]]*/;

     $.ajax({
            url : `/boardDetail/comments/${boardId}`,
            type : 'get',
            dataType : 'json',
            async : false,
            success : function (response) {
                let commentHtml = ``;
                
                if ( !response.length ) {
                	return;
                }

                commentHtml += `
                <tr>
                    <th width="10%" class="border-table-th">作成者</th>
                    <td width="80%" class="border-table-th">内容</td>
                    <th width="10%" class="border-table-th">作成日時</th>
                </tr>
                <tr>
                `;

                response.forEach(row => {
                    commentHtml += `
                        <th width="10%" class="border-table-td">${row.commentRegisterUserId}</th>
                        <td width="80%" class="border-table-td board-comment">${row.commentContent}</td>
                        <th width="10%" class="border-table-td">${row.commentRegisterDate}</th>
                    `;
                    commentHtml += "</tr>";
                })
                document.querySelector('.comment_list').innerHTML = commentHtml;
            },
            error : function (request, status, error) {
                console.log(error)
            }
        })
}

function writeComment() {
    const boardId = /*[[${boardDetail.boardId}]]*/;
    const content = document.getElementById('commentTextArea');

    const params = {
            boardId : boardId,
            commentContent : content.value
        }

    $.ajax({
            url : `/boardDetail/writeComment`,
            type : `post`,
            contentType : `application/json; charset=utf-8`,
            dataType : `json`,
            data : JSON.stringify(params),
            async : false,
            success : function (response) {
            	document.querySelector('.error-message').style.display ="none";
                let ErrorHtml = ``;
                let commentHtml = ``;
                ErrorHtml += `
                    <i class="ico-error"></i>
                `;
            
                if( response.length > 0 )
                {
                    response.forEach(row => {
                    ErrorHtml += `
                        <span>${row}</span>
                    `;
                    })
                    document.querySelector('.error-message').innerHTML = ErrorHtml;
                    document.querySelector('.error-message').style.display ="block";
                    window.scrollTo({top:0});
                    return;
                }
                
            },
            error : function (request, status, error) {
                console.log(error);
            }
        })
        content.value = "";
        getAllComment();
}

/*]]>*/
</script>
</html>
