<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.noticeBoard.dao.mapper.LoginMapper">

    <!-- ユーザー情報取得 -->
    <select id="getUserInfo" resultType="jp.co.noticeBoard.dto.UserDto">
        SELECT
        t_user.user_pass AS password,
        t_user.user_name AS name,
        t_user.user_id AS userId
        FROM
        t_user
        WHERE
        t_user.user_id= #{account} AND
        t_user.delete_flg=0
    </select>

</mapper>